body {
    background-color: #D2EEFF;
}

.header {
    position: relative;
}

.img_block {
    background-image: url('../imgs/individual_banner_background.png');
}

@media (max-width: 480px) {

    .banner_title {
        font-size: 22px !important;
    }
}